@model CatalogItem
<!--<script src="~/js/jquery.min.js"></script>-->

<form>

    <img class="esh-catalog-thumbnail" src="@Model.PictureUrl" />

    <div class="esh-catalog-name">
        <span>@Model.Name</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Price.ToString("N2")</span>
    </div>
    <input type="hidden" asp-for="@Model.Id" name="id" />
</form>

<form asp-action="AddProductToBasket" asp-controller="Basket" method="post">
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.Price" name="price" />
    <input type="hidden" asp-for="@Model.PictureUrl" name="pictureUrl" />
    <button type="submit">Add to cart </button>
</form> 

<!--<form id="addProductToBasketForm">
    <input type="hidden" id="productId" value="@Model.Id" />
    <input type="hidden" id="productName" value="@Model.Name" />
    <input type="hidden" id="productPrice" value="@Model.Price" />
    <input type="hidden" id="productPictureUrl" value="@Model.PictureUrl" />
    <button type="button" id="addItemToCartButton">Add to cart </button>
</form>

<script>
    $(document).ready(function () {
        $("#addItemToCartButton").click(function () {
            var formData = {
                Id: $("#productId").val(),
                Name: $("#productName").val(),
                Price: parseFloat($("#productPrice").val()),
                PictureFileName: $("#productPictureUrl").val()
            };

            $.ajax({
                url: "http://www.alevelwebsite.com:5005/api/v1/BasketItem/AddProduct",
                type: "POST",
                data: formData,
                success: function (response) {
                    console.log("Product added to basket successfully!");
                },
                error: function (xhr, status, error) {
                    console.error("Failed to add product to basket: " + error);
                    // Optionally display an error message
                }
            });
        });
    });
</script>-->
