<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />

	@{
		ViewData["Title"] = "Basket";
	}

	@* 	<environment names="Development">
	<link rel="stylesheet" href="~/css/basket/basketIndexStyles.css" />
	</environment>
	<environment names="Staging,Production">
	<link rel="stylesheet" href="~/css/basket/basketIndexStyles.css" />
	</environment> *@
</head>

<body>
	@model MVC.ViewModels.BasketViewModels.IndexViewModel


	<div class="container mt-5 mb-5">
		<div class="d-flex justify-content-center row">
			<div class="col-md-8">
				<div class="p-2">
					<h4>Shopping cart</h4>
				</div>
				@if (Model.ProductsInCart != null && Model.ProductsInCart.Any())
				{
					@foreach (var product in Model.ProductsInCart)
					{
						<div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
							<div class="mr-1"><img class="rounded" src="@product.PictureFileName" width="70"></div>
							<div class="d-flex flex-column align-items-center product-details">
								<span class="font-weight-bold">@product.Name</span>
							</div>
							<div class="d-flex flex-row align-items-center qty">
								<form asp-action="DeleteProductFromBasket" asp-controller="Basket" method="post">
									<input type="hidden" asp-for="@product.Id" name="id" />
									<input type="hidden" asp-for="@product.Name" name="name" />
									<input type="hidden" asp-for="@product.Price" name="price" />
									<input type="hidden" asp-for="@product.PictureFileName" name="pictureUrl" />
									<button type="submit" style="border: none; background-color: #fff; color: red; font-size: 20px;">-</button>
								</form>
								<h5 class="text-grey mt-1 mr-1 ml-1">@product.Amount</h5>
								<form asp-action="IncreaseByOneProductInBasket" asp-controller="Basket" method="post">
									<input type="hidden" asp-for="@product.Id" name="id" />
									<input type="hidden" asp-for="@product.Name" name="name" />
									<input type="hidden" asp-for="@product.Price" name="price" />
									<input type="hidden" asp-for="@product.PictureFileName" name="pictureUrl" />
									<button type="submit" style="border: none; background-color: #fff; color: green; font-size: 20px;">+</button>
								</form>
							</div>
							<div>
								<h5 class="text-grey">Price: @(product.Price * product.Amount) USD</h5>
							</div>
							<div class="d-flex align-items-center"><i class="fa fa-trash mb-1 text-danger"></i></div>
						</div>
					}
					<form asp-action="MakeAnOrder" asp-controller="Order" method="post">
						<div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="submit">Make order</button></div>
					</form>
					<form asp-action="DeleteAllProductsFromBasket" asp-controller="Basket" method="post">
						<div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="submit">Discard</button></div>
					</form>

					<div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button" onclick="navigateToCatalog()">Back to catalog</button></div>

				}

				else
				{
					<div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
						<div class="d-flex flex-column align-items-center product-details">
							<span class="font-weight-bold">Basket is empty</span>
						</div>
					</div>

					<div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button" onclick="navigateToCatalog()">Back to catalog</button></div>

				}

			</div>
		</div>
	</div>

	<script>
		function navigateToCatalog() {
			window.location.href = "@Url.Action("Index", "Catalog")";
		}
	</script>
</body>
</html>



